.navbar
  position fixed
  top 0
  left 0
  right 0
  background transparent

.home-blog
  .hero
    margin 0 auto !important

.footer
  >span:first-child {
    display none  !important
  }

.sidebar
  width 22rem!important